<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rgf.rippedgiantfitness" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProgramsActivity"
            android:label="@string/title_activity_programs"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rgf.rippedgiantfitness.HomeActivity" />
        </activity>
        <activity
            android:name=".WorkoutsActivity"
            android:label="@string/title_activity_workouts"
            android:parentActivityName=".ProgramsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rgf.rippedgiantfitness.ProgramsActivity" />
        </activity>
        <activity
            android:name=".ExercisesActivity"
            android:label="@string/title_activity_exercises"
            android:parentActivityName=".WorkoutsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rgf.rippedgiantfitness.WorkoutsActivity" />
        </activity>
        <activity
            android:name=".ExerciseActivity"
            android:label="@string/title_activity_exercise"
            android:parentActivityName=".ExercisesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rgf.rippedgiantfitness.ExercisesActivity" />
        </activity>
        <activity
            android:name=".WorkoutActivity"
            android:label="@string/title_activity_workout"
            android:parentActivityName=".WorkoutsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rgf.rippedgiantfitness.WorkoutsActivity" />
        </activity>
        <activity
            android:name=".HiitSettingsActivity"
            android:label="@string/title_activity_hiit"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rgf.rippedgiantfitness.HomeActivity" />
        </activity>
        <activity
            android:name=".HiitTimerActivity"
            android:label="@string/title_activity_hiit_timer"
            android:parentActivityName=".HiitSettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rgf.rippedgiantfitness.HiitSettingsActivity" />
        </activity>
        <activity
            android:name=".MeasurementsActivity"
            android:label="@string/title_activity_measurements"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rgf.rippedgiantfitness.HomeActivity" />
        </activity>
        <activity
            android:name=".MeasurementActivity"
            android:label="@string/title_activity_measurement"
            android:parentActivityName=".MeasurementsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rgf.rippedgiantfitness.MeasurementsActivity" />
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rgf.rippedgiantfitness.HomeActivity" />
        </activity>
    </application>

</manifest>
