<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aff.allformfitness" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/full_backup_content"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.aff.allformfitness.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http"
                    android:host="play.google.com"
                    android:pathPrefix="/store/apps/details?id=com.aff.allformfitness" />
                <data android:scheme="http"
                    android:host="www.amazon.com"
                    android:pathPrefix="/gp/mas/dl/android?p=com.aff.allformfitness" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aff.allformfitness.ProgramsActivity"
            android:label="@string/title_activity_programs"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aff.allformfitness.HomeActivity" />
        </activity>
        <activity
            android:name="com.aff.allformfitness.WorkoutsActivity"
            android:label="@string/title_activity_workouts"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aff.allformfitness.ProgramsActivity" />
        </activity>
        <activity
            android:name="com.aff.allformfitness.ExercisesActivity"
            android:label="@string/title_activity_exercises"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aff.allformfitness.WorkoutsActivity" />
        </activity>
        <activity
            android:name="com.aff.allformfitness.ExerciseActivity"
            android:label="@string/title_activity_exercise"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aff.allformfitness.ExercisesActivity" />
        </activity>
        <activity
            android:name="com.aff.allformfitness.WorkoutActivity"
            android:label="@string/title_activity_workout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aff.allformfitness.WorkoutsActivity" />
        </activity>
        <activity
            android:name="com.aff.allformfitness.HiitSettingsActivity"
            android:label="@string/title_activity_hiit"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aff.allformfitness.HomeActivity" />
        </activity>
        <activity
            android:name="com.aff.allformfitness.HiitTimerActivity"
            android:label="@string/title_activity_hiit_timer"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aff.allformfitness.HiitSettingsActivity" />
        </activity>
        <activity
            android:name="com.aff.allformfitness.MeasurementsActivity"
            android:label="@string/title_activity_measurements"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aff.allformfitness.HomeActivity" />
        </activity>
        <activity
            android:name="com.aff.allformfitness.MeasurementActivity"
            android:label="@string/title_activity_measurement"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aff.allformfitness.MeasurementsActivity" />
        </activity>
        <activity
            android:name="com.aff.allformfitness.HelpActivity"
            android:label="@string/title_activity_help"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aff.allformfitness.HomeActivity" />
        </activity>
        <activity
            android:name="com.aff.allformfitness.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aff.allformfitness.HomeActivity" />
        </activity>
        <activity
            android:name="com.aff.allformfitness.HistoryActivity"
            android:label="@string/title_activity_history"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aff.allformfitness.WorkoutsActivity" />
        </activity>
        <activity
            android:name="com.aff.allformfitness.HistActivity"
            android:label="@string/title_activity_hist"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aff.allformfitness.HistoryActivity" />
        </activity>
    </application>

</manifest>
